{% if page.quick_side %}
  <div class="gva-quick-side quick-side">
   <div class="side-content">
       <div class="content-inner">
         <a href="#" class="quick-side-close"><i class="fa fa-times"></i></a>
         {{ page.quick_side }}
       </div>  
   </div>
  </div>
{% endif %}