<div class="portfolio-carousel">
   <div class="portfolio-carousel-center owl-carousel"> 
     {% for row in rows %}
         <div class="item">{{ row.content }}</div>
      {% endfor %}
   </div>
</div>      
