.gsc-video-box{
    position: relative;
    margin: 0 auto;
    &.style-1{
      margin-bottom: 30px;
      &:hover{
        .image{
          .popup-video{
            .icon{
              @include scale(1);
               @include opacity(1);
            }
          }
        }
      }
      .image{
        .popup-video{
          position: absolute;
          top: 0;
          left: 0;
          z-index: 11; 
          @include size(100%, 100%); 
          .icon{
            position: absolute;
            @include size(50px, 50px);
            @include border-radius(50%);
            @include transition(all 0.35s);
            @include opacity(0);
            top: 50%;
            left: 50%;
            margin-left: -25px;
            margin-top: -25px;
            z-index: 12;
            background: $theme-color;
            color: $white;
            display: inline-block;
            text-align: center;
            line-height: 50px;
            @include scale(2); 
          }
        }
      }
      .video-content{
        position: relative;
        width: 100%;
        bottom: 0;
        left: 0;
        min-height: 50px;
        .video-content-background{
          @include size(100%, 100%);
          background: $theme-color;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }
        .left{
          padding: 5px 66px 0 0;
          text-align: right;
          color: $white;
          font-family: $font-second;
          letter-spacing: 2px;
          position: relative;
          z-index: 9;
          .video-title{
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            padding-right: 30px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          }
          .video-desc{
            font-size: 11px;
            padding-right: 30px;
          }
        }
        .right{
          @include size(65px, 100%);
          background: $theme-color;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 1;
          border-left: 1px solid rgba(255, 255, 255, 0.2);
          z-index: 9;
          a{
            display: block;
            text-align: center;
            line-height: 58px;
            i{
              font-size: 22px;
              color: $white;
            }
          }
        }
      }
      .video-inner{
        @include box-shadow(0px 0px 10px 3px rgba(0, 0, 0, 0.1));
        position: relative;
      }
    }
    &.style-2{
      margin-bottom: 30px;
      .image{
        .popup-video{
          position: absolute;
          top: 0;
          left: 0;
          z-index: 19; 
          @include size(100%, 100%); 
          .icon{
            position: absolute;
            @include size(50px, 50px);
            @include border-radius(50%);
            @include transition(all 0.35s);
            top: 50%;
            left: 50%;
            margin-left: -25px;
            margin-top: -25px;
            z-index: 19;
            background: $theme-color;
            color: $white;
            display: inline-block;
            text-align: center;
            line-height: 50px;
          }
        }
      }
      .video-content{
        .link-video{
          font-size: 12px;
          font-weight: 400;
          margin: 8px 0 0 35px;
          position: relative;
          float: left;
          &:after {
            content: "";
            position: absolute;
            @include size(30px, 1px);
            background-color: $black;
            top: 15px;
            left: -35px;
          }
          strong{
            font-family: $font-second;
            font-size: 16px;
          }
        }
        .button-review {
          float: right;
          margin-top: 10px;
          a{
            @include transition(all 0.35s);
            color: $black;
            border: 1px solid $black;
            padding: 4px 15px;
            @include border-radius(30px);
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
            font-family: $font-second;
            letter-spacing: 2px;
            &:hover{
              color: $white;
              background: $theme-color;
              border-color: $theme-color;
            }
          }
        }
      }
      .video-inner{
        @include box-shadow(0px 0px 10px 3px rgba(0, 0, 0, 0.1));
        position: relative;
      }
   }
}