<div class="view-testimonail-carousel-center">
   <div class="testimonail-carousel-center owl-carousel"> 
     {% for row in rows %}
         <div class="item">{{ row.content }}</div>
      {% endfor %}
   </div>
</div>   